*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}
body{
    background:#f9f9f9;
}
#cart{
    width:950px;
    margin:12px auto 0;
}
#cart h2{
    padding-bottom:10px;
    border-bottom:4px solid #d9d9d9;
    margin-bottom:22px;
}
#cart h2 span{
    color:#373d48;
    font-size:14px;
    padding-bottom:14px;
    border-bottom:4px solid #2b2b2b;
    letter-spacing: 4px;
}
#cart h3{
    overflow:hidden;
}
#cart h3 i{
    display:inline-block;
    width:8px;
    height:14px;
    background:url(../images/icon_back.gif) no-repeat center;
    float:left;
    margin-right:14px;
}
#cart h3 em{
    font-size:14px;
    color:#2b2b2b;
    font-weight:normal;
    font-style:normal;
    float:left;
}
#cart table{
    clear:both;
    margin-top:34px;
    margin-bottom:20px;
}
#cart table tr td{
    width:155px;
    padding-bottom:13px;
    padding-top:10px;
    border-bottom:1px solid #e1e1e1;
}
.lineTwo,.lineThree,.lineFour{
    height:88px;
    padding:10px 0 10px 10px;
    display:none;
}

/*.lineTwo,.lineThree,.lineFour{*/
    /*display:none;*/
/*}*/
.width_01 img{
    width:88px;
    height:88px;
}
.width_04{
    width:190px;
}
#cart p{
    float:left;
}
#cart p input{
    line-height:38px;

}
#cart p em{
    font-size:14px;
    font-style:normal;
    line-height:38px;
}
#to_pay{
    float:right;
}
#to_pay span{
    font-size:16px;
    line-height:38px;
    font-weight:bold;
    margin-right:10px;
    float:left;
}
#to_pay i{
    display:inline-block;
    width:44px;
    height:16px;
    line-height:16px;
    border:1px solid #5c5c5c;
    background:#929292;
    color:#fff;
    margin-right:24px;
    float:left;
    margin-top:9px;
    font-style:normal;
    text-align:center;
    font-size:12px;
}
#to_pay button{
    width:176px;
    height:36px;
    outline:none;
    border:none;
    background:#f8504f;
    color:#fff;
    font-size:12px;
    float:left;
}
.clear{
    clear:both;
}
#guess_you_like{
    width:950px;
    margin:22px auto 0;
}
#guess_you_like h2{
    padding-bottom:10px;
    border-bottom:4px solid #d9d9d9;
    margin-bottom:22px;
}
#guess_you_like h2 span{
    color:#373d48;
    font-size:14px;
    padding-bottom:14px;
    border-bottom:4px solid #2b2b2b;
    letter-spacing: 4px;
}
#guess_you_like h2 i{
    float:right;
    width:20px;
    height:20px;
    background:#82868d;
    color:#fff;
    margin-right:4px;
    font-style:normal;
    font-size:12px;
    margin-top:10px;
    text-align:center;
    line-height:20px;
}